#center {
    justify-content: center;
    align-items: center;
}

p {
    color: white;
}

@media screen and (min-width:1001px) {
    nav {
        font-size: 25px;
        font-family: monospace;
    }
    .mainPage {
        position: relative;
        width: 100%;
        height: 100%;
    }    
    .navbar-brand {
        font-size:45px !important;
    }

    .textsquare h2 {
        color:white;
        font-size: 50px;
        font-family: 'Lexend', sans-serif;
        font-weight: 300;
    }
    
    .textsquare p {
        font-size: 30px;
        text-align: center;
        font-family: 'Lexend', sans-serif;
        font-weight: 200;
    }
    .imageStyle {
        border: 5px solid black;
        height: 480px;
        width: 480px;
        margin-right: 50%;
        
    }

    .mainRow {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;

    }

  }
  

@media screen and (max-width: 1000px) {
    nav {
        font-family: monospace;
    }
    .textsquare h2 {
        color:white;
        font-size: 50px;
        font-family: 'Lexend', sans-serif;
        font-weight: 300;
        padding-top: 10%;
    }
    
    .textsquare p {
        font-size: 30px;
        text-align: center;
        font-family: 'Lexend', sans-serif;
        font-weight: 200;
    }
    .mainPage {
        position: absolute;
        width: 100%;
        height: 90%;
    }    
    .imageStyle {
        border: 5px solid black;
        height: 300px;
        width: 300px;
    }

}

